<div class="page-topbar">
    <div class="logo-area">
    </div>
    <div class="quick-area">
    </div>
    <div class="upload-area">
        <div class="file-upload-wrapper">
            <form class="md-form" method = "POST" enctype = "multipart/form-data">
                <div class="file-field big">
                    <a class="upload-btn bg-dark-orange float-left">
                        <span class="material-icons">
                            cloud_upload
                        </span>
                        <input type="file" multiple>
                    </a>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text" placeholder="Upload one or more files">
                    </div>
                    <div class="file-submit-wrapper">
                        <button type="submit" class="btn btn-sm btn-md btn-primary bg-dark-blue">
                            <span class="">Upload</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>