<title>IMDB DASHBOARD</title>
{% extends 'base.html' %}

{% block content %}
{% include 'general_info.html' %}
<div class="row">
    <div class="col-lg-4 col-md-12">
        {% include 'graphics.html' %}
    </div>
    <div class="col-lg-4 col-md-12">
        {% include 'graphics_decades.html' %}
    </div>
    <div class="col-lg-4 col-md-12">
        {% include 'movie_list.html' %}
    </div>
    <div class="col-lg-12">
        {% include 'top_directors.html' %}
    </div>
</div>
{% endblock %}
