<section class="stats-datatable sect">
    <h2 class="sect-title">Select your Movie Genre and Decade</h2>
    <div class="datatable-filter">
        <div class="datatable-dropdown">
            <select class="datatable__movie_genre mdb-select md-form" id="movie_Genre" name="movie_genre" searchable="Search here..">
                <option value="all">All</option>
                {% for genre in genres %}
                <option value="{{genre}}">{{genre}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="datatable-dropdown">
            <select class="datatable__movie_genre mdb-select md-form" id="movie_Decade" name="movie_decade" searchable="Search here..">
                <option value="all">All</option>
                {% for decade in decades %}
                <option value="{{decade}}">{{decade}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="datatable-block">
        <table cellpadding="0" cellspacing="0" border="0" class="display table table-striped table-sm" id="movies___byGenres" width="100%">
            <thead>
                <tr>
                    <th width="50%">Movie</th>
                    <th width="25%">IMDB Ranking</th>
                    <th width="25%">Rates Count</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="5" class="dataTables_empty">Loading data from server</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<script>
    $(document).ready(function () {
        var table;
        table = $("#movies___byGenres").DataTable({
            data: {{ movieList|safe }},
            columns: [
                { data: 'title' },
                { data: 'IMDB Rating' },
                { data: 'Rating Count' }
            ]
        })

        $( ".datatable__movie_genre" ).on("change", function() {
            var genreID = $("#movie_Genre").val()
            var decadeID = $("#movie_Decade").val()
            $.ajax({
                type: "POST",
                url: window.location + "get-movies/",
                data: {
                    'genre': genreID,
                    'decade': decadeID
                }

            }).done(function (newData) {
                console.log(newData)
                table.clear().destroy()
                table = $("#movies___byGenres").DataTable({
                    data: jQuery.parseJSON(newData),
                    columns: [
                        { data: 'title' },
                        { data: 'IMDB Rating' },
                        { data: 'Rating Count' }
                    ]
                })
            });
        });

        // Material Select Initialization
        $(document).ready(function() {
            $('.mdb-select').materialSelect();
        });

    });
</script>
