<section class="top-directors sect">
    <h2 class="sect-title">Top Directors</h2>
    <div class="row">
        {% for director in top_directors %}
        <div class="col-lg-1 col md-6 col-sm-6">
            <div class="info-card">
                <img src="{{ url_for('static', filename='img/dir_img/'+director.image_url) }}" alt="{{image_url}}"  class="card-img-top card-img img-fluid">
                <div class="card-body">
                    <div class="d-inlineb">
                        <h4 class="card-title">{{ director.name }}</h4>
                        <span class="card-text">{{ director.count }}</span>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
